#root {
  width: 900px;
  min-width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.myTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inline {
  display: flex;
  justify-content: flex-start;
}

.inline input {
  margin-right: 20px;
}

.update-input {
  padding: 0.4rem;
  border-radius: 8px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
